[Unit]
Description=Periodically save wall clock (for unclean shutdowns)

[Timer]
OnBootSec=5min
OnUnitActiveSec=10min

[Install]
WantedBy=timers.target
